@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    margin:0px;

}

svg{
    margin:auto;
}

.m-auto{margin: auto;}