@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

* {
  font-family: Open Sans;
}

button[type=reset]  {
  @apply p-2 bg-red-500 rounded-lg text-white m-2  shadow
}

button[type=submit]  {
  @apply p-2 bg-teal-500 rounded-lg text-white m-2  shadow
}

form label {
  @apply block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2
}

body{
    margin:0px;
    color: #3B414B;

}
.bg-gradient{
  background: linear-gradient(179.96deg, #F56565 2.18%, #E53E3E 27.54%, #C53030 52.38%, #9B2C2C 98.95%);
  min-height:100vh;
  color:#fff;}
h2{
    font-family: Open Sans;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 49px;
letter-spacing: 0.15px;
}
h5{
  font-weight: 600;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.15px;
color: #3B414B;
}
h6{
  font-weight: 600;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.15px;
color: #3B414B;
}

p{font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.15px;}

svg{
    margin:auto;
}
.date{
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 9px;
  line-height: 12px;
  letter-spacing: 0.15px;
  }
.avatarSmall{
  width: 49px;
  height: 49px;
}
.avatarMedium{
  width: 60px;
  height: 60px;
}
.content{
  padding: 16px;
}
.lineBottom{
  border-bottom: 1px solid #CBD5E0;
}



.m-auto{margin: auto;}
.content2Column{
  display:grid;
  grid-template-columns: 1fr 1fr;
}
.activedTabs{
  border-bottom:2px solid #FF7D00;
  background:transparent;
  color: #3B414B;
  font-weight:600;
}

.InputCheckbox {
  padding-left: 35px;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
 width:90%;
}
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
  border:1px solid #fff;
}

.InputCheckbox input:checked ~ .checkmark {
  background-color: #2196F3;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.InputCheckbox input:checked ~ .checkmark:after {
  display: block;
}
.InputCheckbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.navigationTop{
  display:grid;
  grid-template-columns:30px 3fr 30px;    
  }

  .input:focus-within {
    border: 1px solid #63b3ed;
}